body{
	/*background-color: #a3cfce;*/
	background-color: white;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
 	text-decoration: none;
}
li{
	list-style-type: none;
	height: 50px;
}
#header {
	padding: 5px;
	/*background-color:rgba(255, 255, 255, 1);*/
	width: 100%;
	height: 30px;
	/*background: #a3cfce;*/
	margin-left: 0px;
	margin-top: 0px;
}
#userDiv{
	font-size:18px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	display: inline-block;
	color: black;
	float: right;
	margin-right: 14px;
	margin-top:5px;
}
#signoutDiv{
	font-size:18px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	display: inline-block;
	color: black;
	float: right;
	margin-right: 14px;
	margin-top:5px;
}
#backHome{
	font-size:18px;
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	display: inline-block;
	color: black;
	margin-left: 10px;	
}
#profilePicCircle {
	position: absolute;
	top: 200px;
	left: 100px;
	width: 200px;
	padding: 0px;
	border: solid #a3cfce;
	border-width: 3px;
	border-radius: 50%;
	/*border*/
}
#profileName{
	position:absolute;
	top:200px;
	left:80px;
	width: auto;
	font-weight: bold;
	color: darkblue;
	text-align: center;
	font-size: 150%;
}
#sidebar {
	background-color: #a3cfce;
	/*padding: 10px;*/
	/*margin-top: 500px;*/
	/*margin-left: 50px;*/
	width: 200px;
	min-height: 1000px;
	float: left;
}
#sidebar ul{
	margin-top:300px;
	/*margin-left: 100px;*/

}
#sidebar ul li{
	list-style-type: none;
	margin-right: 20px;
	margin-top: 30px;

	text-align: center;
	/*font-weight: bold;*/
	/*display: inline-block;*/
	/*color: black;*/
}
.sidebarElm{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	display: inline-block;
	color: black;
	width: 100%;
	font-size:16px;
}

.sidebarElm:hover{	
	background-color:white;
}

.actions{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
	text-align: center;
	display: inline-block;
	color: black;
}
.actions:hover{
	color: blue;
}
.board ul {
	display: block;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}
.board ul li{
	display: inline-block;
	width: 100%;
	height: auto;;
	border-bottom: solid #a3cfce;
	border-width: 1px;
	margin: auto;
	/*margin-top: 30%;*/
}
.board ul li: last-child{
	display: block;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	border-bottom: none
}
.board ul li div{
	display: inline-block;
	width: 50%;
	max-height: 100%;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
	font-size:16px;
/*	padding-top: 17px;
	padding-bottom: 17px;*/
  	/*text-align: center;*/

}
.board ul li div button{
	font-size:16px;
}
.board ul li div p{
	font-size:16px;
}
.board ul li div b{
	font-size:20px;
}
/*.board ul li div > * {
	display: block;
	color: red;
	padding-top:auto;

}*/


#banner{
	margin-left: 200px;	
}
#bannerPic{
	display: block;
	margin: 10px auto;
}
.board{
/*	display: block;
	width: 100%;*/
	margin-left:200px;
	margin-top: 246px;
	
}

#userSheet{
	height: 500px;
	width: 1200px;
	display: none;
	
}
#craftSheet{
	height: 500px;
	width: 1200px;
	display:none;
}
