<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title>craft</title>
	    <link rel="stylesheet" type="text/css" href="/src/craft.css">
	    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <!-- <script defer type="text/javascript" src='/src/share_my_craft.js'></script> -->
	    <script defer type="text/javascript" src='/src/craft.js'></script>
	</head>

	<body>
		<div id="top-right">
			<button id="signoutDiv"></button>
		    <button id="userDiv"></button>
		</div>
		<div id="top-left">

			<button id="backHome"></button>
		</div>
		<div class="logo">
		    <img id='logopic' src="/images/logo.png">
		</div>
		<div id="board" class="contentcontainer"></div>
	</body>
</html>
