<!DOCTYPE html>
<html lang="en">
	<head>
	 	<meta charset="utf-8">
	    <title>Home Page</title>
	    <link rel="stylesheet" type="text/css" href="/src/index.css">
	    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <!-- <script defer type="text/javascript" src='/src/share_my_craft.js'></script> -->
	    <script defer type="text/javascript" src='/src/index.js'></script>
	</head>

	<body>
		<div id="top-right">
			<button id="signoutDiv"></button>
		    <button id="userDiv"></button>
		</div>
		<div id="top-left">

			<button id="backHome"></button>
		</div>
<!-- 		{{> header}} -->
<!-- 	 	<div id="top-right">
			<button id="userDiv"></button>
		</div> -->
		<div class="logo">
			<img id='logopic' src="/images/logo.png">
		</div>
		<div class="bar">
	    	<input id="searchbar" class="searchbar" type="text" placeholder="Search...">
	    	<button id="searchbtn" type="submit" class="searchButton">Go</button>
	    </div>
		<div id="board" class="contentcontainer">
		</div>
	</body>
</html>
