<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="utf-8">
    <title>SIGN UP page</title>
    <link rel="stylesheet" type="text/css" href="/src/login_signup.css">
    
    <!-- <script type="text/javascript" src="/src/share_my_craft.js"></script> -->
    <script type="text/javascript" src="/src/signup.js"></script>
 </head>
    <body>
        <div class="logo">
            <img id='logpic' src="/images/logo.png">
        </div>
        <form id="signUpprofile">
            <h1 class= 'middle'>SIGN UP</h1>
            <div class = 'middle'>
                <input class ='inputbar' id='newUsername' type="text" placeholder="username">
            </div>	
            <p class= 'red'> Notice: you can not change the name once signed up </p>
            <div class = 'middle'>
                <input class ='inputbar' id='newPassword' type="password" placeholder="Password">
            </div> 	
            <div class = 'middle'>
                <input class ='inputbar' id='confirmPassword' type="password" placeholder="Confirm Password">
            </div>		
            <div class = 'middle'>	
                <button class = "button" type="button" id='subButton'><h1>sign up</h1></button>
            </div>	
            <div class = 'right'>
                <a href ="/login">log in now</a>
            </div>
        </form>	
    </body>
</html>
